{% load staticfiles %}
<title>Billing - Wholesale Management System</title>
<style>
	body {
		background-image: {% static 'store/images/bg.jpg' %};
    }
</style>
<link rel="stylesheet" href="{% static 'store/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'store/css/bootstrap-select.css' %}">
<link href="{% static 'store/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'store/css/flexslider.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'store/css/font-awesome.min.css' %}" />
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'store/js/jquery.min.js' %}"></script>
    <script src="{% static 'store/js/bootstrap.min.js' %}"></script>
<script src="{% static 'store/js/bootstrap-select.js' %}"></script>


<br>
<h2>Cart:</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Sl.No.</th>
      <th>Product Name</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
{% for cart in all_cart %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ cart.pid.pname }}</td>
      <td>{{ cart.pid.category }}</td>
      <td>{{ cart.pid.quantity }}</td>
      <td>{{ cart.pid.price }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
Total - {{ totalamt }}