{% load staticfiles %}
<title>Customers - Wholesale Management System</title>

<link rel="stylesheet" href="{% static 'store/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'store/css/bootstrap-select.css' %}">
<link href="{% static 'store/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'store/css/flexslider.css' %}" type="text/css" media="screen" />
<link rel="stylesheet" href="{% static 'store/css/font-awesome.min.css' %}" />
    <link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'store/js/jquery.min.js' %}"></script>
    <script src="{% static 'store/js/bootstrap.min.js' %}"></script>
<script src="{% static 'store/js/bootstrap-select.js' %}"></script>

<style>
	body {
		background-image: url({% static 'store/images/bg.jpg' %});
    }
     .white_bg
    {
    background-color: #ffffff;
    padding: 3px; /*add this if you want a bit of space around the text*/
    }
</style>
<br>
<div class="white_bg">
<br>
<h2 style="color: #7a47ff">The list of Customers:</h2>
<br>
<ol>
    {% for customer in all_customers %}
    <li><a href="/customer/{{ customer.id }}">{{ customer.cname }}</a></li>
    {% endfor %}
</ol>
</div>